*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.radius{
    border-radius: 12px;
}
.size-1{
  font-size:14px;
}
.size{
  font-size:12px;
}
size-3{
  font-size:12px;
}